 .topnav
 {
    background-color: black;
    overflow: hidden;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 3;
 }
 .topnav a
 {
    text-decoration: none;
    color: white;
    font-size: 21px;
    margin: 10px;
    width: 100px;
    padding: 10px;
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;  
 }
 .topnav a:hover
 {
    color:yellow;
 }
 .topnav-right
 {
    font-size: 20px;
    float: right;
 }

